/*VISTA MONITORES DE ESCRITORIO CON 1366PX O MAS*/
/* || Log In page*/
.containerView{
  display: inline-block;
  justify-content: center;
  font-family: 'Fredoka One', cursive;
  color: white;
  align-items: center;
  font-size: 1em;
  width: 100%;
  height:auto;
}
  
.containerImgTitle{
  height: auto;
  width: 61%;
  flex-direction: column;
  margin-top: 5vh;
  text-align: center; 
}
  
.containerImgTitle img{
  width: 85%;
}

.titleSite {
  width: 100%;
}

.titleSite img{
  width: 50%;
}

.containerForms{
  flex-flow: column nowrap;
  background-color: var(--color-blue) ;
  border-radius: 50px;
  position: absolute;
  width: 40%;
  height: auto;
  left: 58%;
  top: 8%;
  bottom: 8%;
}
  
.containerForms h2{
  font-weight: normal;
  text-align: center;
  margin-top: 10%;
  font-size: 2.8em;
  margin-bottom: 0;
}
  
.form{
  text-align: left;   
  margin-top: 5%;
  width: 100%;
  height: auto;
  justify-content: center;
  line-height: 2em;
}
  
.inputsForm{
  display: block;
  margin: auto;
  justify-content: center;
  width: 80%;
  font-family: 'Roboto', sans-serif;
  color: rgba(0, 0, 0, 0.5);
  }
  
.form input{
  border-radius: 35px;
  width: 100%;
  line-height: 2em;
  box-sizing: border-box;
  margin: auto;
  text-align: center;
  font-size: 1em;
}
  
.inputForm{
  border: 1px solid #525050;
  padding: 5px;
  background-color: rgb(255, 255, 255);
  font-size: 1em;
  line-height: 2em;
  }
  
.form label{
  font-family: 'Roboto', sans-serif;
  line-height: 1em;
  font-weight: bold;
  color: #FFFFFF;
  font-size: 1em;
  }

.imgSignInMobile{
  display: none;
}

.btnForm{
  background-color: var(--color-pink);
  width: 100%;
  text-align: center;
  border-radius: 30px;
  line-height: 2em;
  margin-top: 3%;
  color: #FFFFFF; 
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.2em;
}

.messageEmail{
  color: rgb(255, 81, 0);
  font-size: 0.7em;
  margin: 5px auto;
  padding: 1px;
  margin-left: 8%;
}

.messagePass{
  color: rgb(255, 81, 0);
  font-size: 0.7em;
  margin: 5px auto;
  padding: 1px;
}

.loginGoogle{
  width: 100%;
  margin: auto;
  text-align: center;
  align-items: center;
}
  
.loginGoogle p{
  width: 100%;
  text-align: center;
  color: #FFFFFF;
  font-family: 'Roboto', sans-serif;
  font-size: 1em; 
  margin-top: 2%;
  margin-bottom: 0;
}

.btnLogGoogle {
  display: inline-flex;
  border-radius: 30px;
  align-items: center;
  margin-top: 2%;
}

.btnLogGoogle p {
  color: var(--color-blue);
  font-family: 'Roboto', sans-serif;
  font-size: 1em;  
}
.btnLogGoogle img {
  width: 20%
}

.reset, .toggle{
  font-family: 'Roboto', sans-serif;
  margin: 3% 0;
  text-align: center;
}
.containerView .reset a{
 list-style: none;
 text-decoration: none;
 margin-bottom: 5px;
 color: var(--color-pink)
}
      
.containerView .toggle a{
  list-style: none;
  color: var(--color-pink);
}

#eye {
  position: relative;
  font-size: 1.8em;
  top: -4.6vh;
  left: 90%;
  color: var(--color-blue);
  cursor: pointer;
}

.overlay {
background:rgba(101, 153, 221, 0.356);
position: fixed;
top: 0;
bottom: 0;
left: 0;
right: 0;
display: flex;
align-items: center;
justify-content: center;
visibility: hidden;
}

.overlay.active{
visibility: visible;
z-index: 100;
}

.popup{
background: #f8f8f8;
box-shadow: 0px 0px 50px 0px rgba(255, 255, 255, 0.3);
border-radius: 20px;
font-family: 'Roboto', sans-serif;
padding: 20px;
text-align: center;
width: 50%;
height: auto;
}

.popup .btn-close-popup {
margin-top: 0;
font-size: 2em;
line-height: 2em;
display: block;
text-align: right;
color: var(--color-pink)
}

.popup .btn-close-popup i:hover {
color: var(--color-blue);
transition: .3s ease all;
transform: rotate(45deg);
} 

.popup img{
width: 60vh;
height: 120px;
position: relative;
top: -6vh;
}

.popup h4{
font-size: 1.5em;
color: var(--color-blue) ;
font-weight: 500px;
margin-bottom: 30px;
margin-top: -30px;
}

.formResetPass input[type="email"] {
  width: 80%;
  background: rgba(255, 255, 255, 0.8);
  filter: blur(0.5px);
  border-radius: 25px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.2em;
  line-height: 150%;
}

.btn-submit{
background-color: var(--color-pink);
width: 40%;
text-align: center;
border-radius: 30px;
line-height: 2em;
margin-top: 5%;
color: #FFFFFF; 
font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 1.2em;
border: none;
cursor: pointer;
}

.EmailSend{
color: var(--color-pink);
font-size: 1.2em;
font-family: 'Roboto', sans-serif;
margin-top: 1vh;
}
 
/* || END Log In page*/

/*VISTA TABLET LANDSCAPE y MONITORES DE ESCRITORIO VIEJOS*/
@media only screen and (min-width:1024px) and (max-width:1365px){
  /* || Log In page*/

  .containerImgTitle img{
    width: 90%;
  }

  .titleSite img{
    width: 60%;
  }
  #eye {
    left: 88%;
  
  }
} 

/*VISTA TABLET EN VERTICAL, DISPLAY SMARTHPHONE EN LANDSCAPE*/
@media only screen and (min-width:768px) and (max-width:1023px){
  /* || Log In page*/
    
.containerView{
  display: flex;
  flex-direction: column;
}

.containerImgTitle{
  width: 100%;
  margin-top: 0;
  z-index: 1;  
}

.titleSite {
  width: 70%;
  top: 3%;
  margin: auto;
  text-align: center;
}

.titleSite img{
  width: 80%;
}

.containerForms{
  width: 94%;
  position: absolute;
  left: 3%;
  top: 40%;
  right: 3%;
  bottom: 3%;
}

.containerForms h2{
  margin-top: 10%;
  margin-bottom: 0;
}
   
.imgSignInDesktop{
  width: 100%;
  position: absolute;
  top: 4%;
}

.form{
  line-height: 1.5em;
  margin-top: 3%;
}

.reset, .toggle{
  margin: 2% 0;
}
#eye {
  margin-left: 2%;
  margin-top: 1vh;
}

.overlay {
 z-index: 10000; 
}
.popup{
  width: 70%;
}

.popup img{
  width: 40vh;
  height: 100px;
  top: -6vh;
}
}
/* VISTA CELULARES*/
@media only screen and (max-width:420px){

/* || Log In */
.containerView{
display: block;
background-color:white ;
font-family: 'Roboto', sans-serif;
font-size: 1em;
color: var(--color-blue);
width: 100%;
}

.imgSignInDesktop{
display: none;
}
.containerImgTitle img{
width: 40%;
}

.imgSignInMobile{
width: 100%;
display: block;
top: 0;
position: absolute;
}

.imgSignInMobile img{
width: 100%;
}

.titleSite {
display: none;
}

.containerForms{
display: block;
background-color:white;
width: 100%;
left: 0;
top: 43%;
}

.containerForms h2{
display: none;
}

.form{
line-height: 1.5em;
}

.form input{
line-height: 1.2em;
}

.form label{
  color: var(--color-blue);
}

.btnForm{
margin-top: 5%; 
}

.reset a{
color: var(--color-blue);
}

.toggle{
color: rgb(41, 40, 40);
margin-top: 5px;
}

.toggle a{
color: var(--color-blue);
}

#eye {
font-size: 1.5em;
margin-left: -2.5%;
margin-top: 1.2vw;
}

.loginGoogle p{
color: var(--color-blue);
}

.popup{
width: 100%;
}

.popup img{
width: 40vh;
height: 100px;
top: -6vh;
}
}