/*USER HEADER*/
#userphoto{
    width: 80px;
    height: 80px;
    border-radius: 50%;
} 
hr {
    border: 1px solid var(--color-blue);
  }
  
  .info_icon {
    color:var(--color-blue);
    font-size: 18px;
    padding: 3px;
  }
  
  .user_social_icon {
    float: right;
    margin-right: 5px;
    color: #fff;
  }
  #user-header {
    background:white;
    position: fixed;
    width: 100vw;
    height: 15vh;
    margin: auto;
    padding: 10px;
    color:black;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.171);
    z-index:3;
  }
  
  #user {
    width: 700px;
    height: 100px;
    float: left;
    
  }
  
  
  #user-picture {
    float: left;
    padding-right: 20px;
  }
  
  #user-info {
    width: 600px;
    height: 90px;
    padding-top: 10px;
  }
  
  .user_name {
    font-family: 'Fredoka One', cursive;
    font-weight: 400;
    margin: 0;
    color:black;
    letter-spacing: 1.75px;
  }
  

  
  #user-info ul {
    padding: 0;
    list-style-type: none;
    margin-top: 5px;
  }
  
  #user_list {
    font-family: 'Open Sans', sans-serif;
    font-weight: 200;
    font-size: 14px;
    color:black;
  }
  
  #user_list li {
    display: inline;
    margin-right: 20px;
    letter-spacing: 1px;
  }
  
  
  #nav-btn {  
    width: 300px;
    height: 65px;
    padding: 8px;
    float: right;
    margin-top: 9px;
    margin-right: -30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
section.board {
  margin-top: 12%;
  display: flex;
  float: left;
  width: 80%;
  overflow-x: hidden;
  flex-flow: column;
}
.post-form {
  justify-content: center;
  height: 50vh;
  margin: auto;
  border-radius: 10px;
  /* display: flex; */
  width: 95%;
  align-items: center;
}
aside {
  font-family: 'Roboto', sans-serif;
  display: inline-block;
  color: white;
  /* transform: translateX(750px); */
  margin-top: 12%;
  /* width: 40vw; */
  /* float: left; */
  background: rgb(117, 114, 126);
  position: fixed;
  margin-left: 5;
  /* padding: 30px; */
  height: 100vh;
  justify-content: center;
}
div#post-aside-info {
  margin-left: -20px;
}
.aside-icon{
  margin: 10px;
}
#post-aside-info p{
  text-align:center;
}
#post-aside-info li{
  margin-bottom:20px;
  list-style:none;
}
.post-header{
  display: block;
  height: 50px;
  text-align: center;
}
input#title {
  margin-bottom: 50px;
  width: 300px;
  margin-top: 20px;
}
textarea#description {
  margin-bottom: 10px;
  margin-top: 20px;
  width: 300px;
}
button#submit-post {
  width: 200px;
}

/* POST FORMATO*/
.soulmates-post {
  border: 1px solid rgba(128, 128, 128, 0.61);
  position: relative;
  height: 550px;
  width: 440px;
  margin: 0 auto;
  background-color: #ffffff;
  overflow: hidden;
  margin-bottom:5px;
}
.soulmates-post-modal{
  border: 1px solid rgba(128, 128, 128, 0.61);
  position: relative;
  height: 200px;
  width:300px;
  margin: 0 auto;
  background-color: #ffffff;
  overflow: hidden;
  cursor: default;
}
.soulmates-post-top {
  position: relative;
  height: 60px;
  overflow: hidden;
}
img.post-header-avatar {
  width: 40px;
}
.soulmates-post-avatar {
  position: absolute;
  top: 10px;
  left: 10px;
  height: 40px;
  width: 40px;
  overflow: hidden;
  border-radius: 100%;
}
.soulmates-post-name {
  position: absolute;
  top: 16px;
  left: 60px;
  font-family: 'Roboto', sans-serif;
  text-transform: lowercase;
  font-weight: bold;
  color: #909090;
  font-size: 12px;
}
.soulmates-post-title {
  position: absolute;
  left: 59px;
  top: 34px;
  font-family:'Roboto', sans-serif;
  text-transform: normal;
  font-size: 9px;
}
.soulmates-post-date {
  position: absolute;
  right: 20px;
  top: 25px;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: #bebebe;
  cursor:pointer;
}
.soulmates-post-bookmark {
  position: absolute;
  right: 20px;
  top: 18px;
  font-size: 24px;
  color: #cecece;
}
.soulmates-post-image {
  position: relative;
}
.soulmates-post-image img {
  max-width: 440px;
  min-width: 440px;
  max-height: 370px;
  min-height: 370px;
  overflow: hidden;
}
.soulmates-post-bottom {
  position: relative;
}
.soulmates-post-desc {
  position: relative;
  width: 350px;
  height: 50px;
  margin: 20px auto 0 auto;
  border-bottom: 1px solid #dedede;
  overflow: hidden;
}
/* .soulmates-post-desc p {
  position: relative;
  font-family:'Roboto', sans-serif;
  color: #707070;
} */
.post-text{
  font-size:15px;
}
.soulmates-post-desc div {
  display: inline-block;
  margin-right: 3px;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: bold;
  color: #e1cbcf;
}
.soulmates-post-desc div i {
  color: #e1cbcf;
}
.soulmates-post-icons {
  display: flex;
  position: absolute;
  width: 400px;
  height: 30px;
  left: 10px;
  margin-top: 10px;
  overflow: hidden;
  justify-content: space-around;
}
.soulmates-post-icons span {
  font-family:'Roboto', sans-serif;
  align-items: center;
  display: flex;
  margin-right: 8px;
  font-size: 15px;
  color: #cecece;
}
.option-post-icons{
  transform: translateX(180px);
}
#like,
#edit,
#trash{
  color:#cecece;
  font-size:20px;
}
.soulmates-post-icons button{
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  color: #cecece;
  background: transparent;
  margin-left: 30px;
}
.soulmates-post-icons button:hover{
color: #949494;
transition: .4s;
}
#postPhoto{
  display:none;
}
.post-label{
background:gray;
padding:10px;
cursor:pointer;
}
/*modal*/
/* The Modal (background) */
.modal {
  display: none; 
  position: fixed; 
  z-index: 1; 
  padding-top: 100px; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4);
}

/* Modal Content */
.modal-content {
  border-radius: 20px; 
    transform: translateY(50px);
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 10px;
    border: 1px solid #888;
    width: 50%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    animation-name: animatetop;
    animation-duration: 0.4s;
    overflow: auto;
}

.userContent input {
  padding: 5px;
  margin-bottom: 10px;
  border-radius: 20px;
  width: 100%;
  border: 1px solid rgba(128, 128, 128, 0.664);
}

.post-header h2 {
  font-family: 'Fredoka One', cursive;
}
.post-preview {
  margin: auto;
  width: 200px;
  border: 2px solid rgba(128, 128, 128, 0.308);
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 300;
  font-family: 'Fredoka One', cursive;
  color:  rgba(128, 128, 128, 0.664);
}


.post-preview-image {
  display: none;
  width: 100%;
}
#title ,#description {
    border: 1px solid gray;
}
.upload-img-post{
  font-family: 'Roboto', sans-serif;
  padding: 5px;
  background:var(--color-blue); 
  color: #fff;
   }
input[type="file"] {
  display: none;
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
.close {
  color:var(--color-pink);
  float: right;
  font-size: 20px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.image-preview-image-post {
  display: none;
  width: 400px;
  height: 400px;

}
#submit-post {
  color:white;
  width: 300px;
  height: 25px;
  background:var(--color-blue);
  border-radius: 25px;
}

/* likes*/
#like:hover{
  color: #ff7851;
  transition: .4s;
  cursor:pointer;
}
#edit:hover{
  color: #949494;
  transition: .4s;
}
#trash:hover{
  color: #949494;
  transition: .4s;
}

.liked-heart {
  color: #ff7851;
}

/*Modal mensaje borrar post*/

.modal-delete-container {
  padding: 10px;
  background: white;
  width: 50%;
  margin: 300px auto;
  border-radius: 4px;
  
}
.delete-post-title{
  margin-top: 50px;
    padding-left: 80px;
    width: 400px;
}
.delete-post-content{
  font-family: 'Roboto', sans-serif;
  padding-left: 150px;
  margin-top: -40px;
}
.modal-delete {
  position: fixed;
  display: none;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.modal-open {
  z-index: 2;
  display: block;
  background-color:rgba(0,0,0,0.5);
}
/* .modal-delete-box-button{
  padding: 10px;
  text-align: center;
} */
/* .modal-delete-box-button button {
  color: white;
  width: 100px;
  padding: 10px;
  background-color: #364c63;
  border-radius: 20px;
} */
.btn-delete {
  padding: 8px 25px;
  border: none;
  border-radius: 4px;
}
.btn-delete:hover{
  background-color:var(--color-pink);
}
.cancel:hover {
  background-color: #7e8594;
}

/*BUTTONS HEADER NAV*/

#addPost, 
#mainPage,
#signOff,
#editUser{
  color: #364c63bf;
  font-size: 30px;
  background: none;
}

#nav-btn button:hover{
color:var(--color-blue);
}

@media screen  and (max-width:768px){

#user-info {
    width: 500px;
}
#nav-btn {
    display: flex;
    width:200px;
    margin-right: 0;
}
#user {
    width: 500px;
}
aside{
  display: none;
}
section.board {
  margin-top: 22%;
}
}
@media screen  and (max-width:425px){
  #userphoto {
    width: 50px;
    height: 50px;
  }
  #user {
    width: 100px;
}
#user-info {
  width: 200px;
}
#nav-btn {

  width: 100px;

}
}