/*VISTA MONITORES DE ESCRITORIO CON 1366PX O MAS*/
/* || SingUp Page */

.SingUp-Container {
    width: 100%;
  }
  
  .container-form {
    background: var(--color-pink);
    border-radius: 50px;
    position: absolute;
    width: 58%;
    height: auto;
    left: 2%;
    top: 8%;
    bottom: 8%;
  }
  
  .logo_singup {
    width: 100%;
    text-align: center;
    margin: auto;
  }
  
  .container-form img {
   margin-top: 1%;
  }
  
  .container-form h2 {
    width: 100%;
    justify-content: center;
    align-content: center;
    font-family: 'Fredoka One', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 2.5em;
    text-align: center;
    color: #FFFFFF;
    text-transform: uppercase;
    margin-top: 0;
  }
  
  .form-Singup {
     display: flex;
     align-items: center;
     flex-direction: column;
     margin-top: 0;
  }
  
  .form-Singup .form-SU-Desktop-tablet {
    display: flex;
    flex-direction: column;
    width: 70%;
  }
  
  .form-SU-movil {
    display: none;
  }
  
  .form-Singup label {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1.2em;
    line-height: 200%;
    color: #000000;
    width: 100%;
    }
  
  .form-Singup input[type="text"],
  [type="password"],
  [type="email"] {
    width: 100%;
    background: rgba(255, 255, 255, 0.8);
    filter: blur(0.5px);
    border-radius: 25px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1.2em;
    line-height: 150%;
  }
  
  .form-Singup input[type="submit"] {
    background: var(--color-blue);
    width: 100%;
    border-radius: 30px;
    line-height: 180%;
    text-align: center;
    margin-top: 5%;
    color: #FFFFFF; 
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1.3em;
    cursor: pointer;
  }
  
  .signupGoogle p{
    width: 100%;
    text-align: center;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;   
  }

  .btnGoogle {
    width: 100%;
    display: inline-flex;
    border-radius: 30px;
  }

  .btnGoogle p {
    color: var(--color-blue);
    font-family: 'Roboto', sans-serif;
    font-size: 1.2em;  
  }
  
  .form-Singup span {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
  }
  
  .form-Singup span p {
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-style: Regular;
    font-size: 1.2em;
  }
  
  .SingUp-Container .form-Singup span a {
    color: var(--color-blue);
    font-family: 'Roboto', sans-serif;
    font-style: Regular;
    font-size: 1.2em;
    padding-left: 10px;
  }
  
  .bg-singup {
    position: absolute;
    width: 50%;
    height: auto;
    left: 50%;
    top: 5%;
    margin: auto;
  }
  
  .bg-singup img {
    width: 100%;
  }
  
  .desktop-SU {
    display: block;
  }
  
  .tablet-SU {
    display: none;
  }
  
  .mobile-SU {
    display: none;
  }
  
  #landscape {
    display: none;
    z-index: -100;
  }

  .eye {
    position: absolute;
    font-size: 1.5em;
    margin-left: 65%;
    margin-top: -4.6vh;
    color: var(--color-blue);
    z-index: 1;
    cursor: pointer;
  }
  
  /* || End SingUp Page */

  /*VISTA TABLET LANDSCAPE y MONITORES DE ESCRITORIO VIEJOS*/
@media only screen and (min-width:1024px) and (max-width:1365px){

    /* || SingUp Page */
      .bg-singup{
         top: 15%;  
      }
      .bg-singup img{
         width: 100%;
      }
    }

/*VISTA TABLET EN VERTICAL, DISPLAY SMARTHPHONE EN LANDSCAPE*/
@media only screen and (min-width:768px) and (max-width:1023px){
    /* || Sing Up page */
    .container-form{
        width: auto;
        bottom: 28%;
        right: 5%;
        left: 5%;
    }
    .bg-singup{
        position: absolute;
        width: 66%;
        height: auto;
        left: 36%; 
        top: 62.5%;
    }
    .form-Singup{
       top: 1%;
    }
    .container-form h2{
        padding-bottom: 1px;
    }
    .desktop-SU{
        display: none;
    }
    .tablet-SU{
        display: block;
    }
    .mobile-SU{
        display: none;
    }
    .eye {
      margin-top: -3.4vh;
    }
}
/* VISTA CELULARES*/
@media only screen and (max-width:420px){
  /* || Sign-up */
  .container-form {
    background: white;
    width: 100%;
    left: 0;
  }

  .logo_singup {
    display: none;
  }
  
  .container-form h2 {
    width: 100%;
    color: rgba(0, 0, 0, 0.6);
    vertical-align: top;
    text-transform: initial;
  }

  .form-Singup .form-SU-Desktop-tablet {
    display: none;
  }


  .form-SU-movil {
    display: block;
    justify-content: center;
  }

  .form-Singup input[type="text"],
  [type="password"],
  [type="email"] {
    background: rgba(255, 255, 255, 0.8);
    filter: blur(0.1px);
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    line-height: 150%;
    text-align: left;
    font-style: normal;
    font-weight: normal;
    font-size: 1.5em;
    margin-bottom: 10%;
    text-indent: 10px;
  }

  .form-Singup input[type="submit"] {
    background: var(--color-pink);
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    line-height: 200%;
    margin-top: 5%;
  }

  .desktop-SU {
    display: none;
  }

  .tablet-SU {
    display: none;
  }

  .mobile-SU {
    display: block;
  }

  .bg-singup {
    left: 0;
    top: 75.5%;
  }

  .bg-singup img {
    width: 200%;
  }

  .form-Singup span p {
    color: rgba(0, 0, 0, 0.6);
  }

  .form-Singup span a {
    color: var(--color-blue);
    font-size: 1em;
    padding-left: 8px;
  }
  .eye {
    margin-top: -18.5%;
    margin-left: 92%;
  }
}

 
  