/*FUENTE TITULO*/
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
/*FUENTE TEXTO*/
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Roboto&display=swap');


@media screen  and (max-width:425px){
 /* || Home */
 .homeContainer-mobile {
    display: block;
  }

  .homeContainer-desktop {
    display: none;
  }

  #logo-home {
    top: 10%;
    width: 85%;
    left: 10%;
  }

  .appStartbtn {
    border: none;
    position: absolute;
    width: 50%;
    height: 5%;
    left: 27%;
    top: 80%;
    background: var(--color-blue);
    border-radius: 25px;
    color: white;
    font-size: 17px;
    font-family: "Roboto", sans-serif;
  }

  .appStartbtn:hover {
    background: #597ca1;
  }

  .appStartbtn a {
    color: white;
    text-decoration: none;
  }

  #mobileMain-img {
    position: absolute;
    width: 90%;
    left: 18px;
    top: 30%;
  }

  /* || Sign-up */
  .container-form {
    background: white;
  }

  .logo_singup {
    display: none;
  }
  
  .container-form h2 {
    width: 100%;
    color: rgba(0, 0, 0, 0.6);
    vertical-align: top;
    text-transform: initial;
  }

  .form-Singup .form-SU-Desktop-tablet {
    display: none;
  }


  .form-SU-movil {
    display: block;
    justify-content: center;
  }

  .form-Singup input[type="text"],
  [type="password"],
  [type="email"] {
    background: rgba(255, 255, 255, 0.8);
    filter: blur(0.1px);
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    line-height: 150%;
    text-align: left;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 1.5em;
    margin-bottom: 10%;
    text-indent: 10px;
  }

  .form-Singup input[type="submit"] {
    background: var(--color-pink);
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    line-height: 200%;
    margin-top: 5%;
  }

  .desktop-SU {
    display: none;
  }

  .tablet-SU {
    display: none;
  }

  .mobile-SU {
    display: block;
  }

  .bg-singup {
    left: 0;
    top: 75.5%;
  }

  .bg-singup img {
    width: 200%;
  }

  .form-Singup span p {
    color: rgba(0, 0, 0, 0.6);
  }

  .form-Singup span a {
    color: var(--color-blue);
    font-size: 1em;
    padding-left: 8px;
  }

  /* || 404 error */
  #error-movil {
    background: url(/src/img/404-mobile.jpg) no-repeat;
    background-size: 120%;
    background-position: center;
    width: 100vw;
    height: 100vh;
  }

  #error {
    display: none;
  }

  nav {
    display: none;
  }


 /* || SIGN IN */
.containerView{
    text-align: center;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    margin: 5px 0;
    background-color:white ;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #364C63;
    width: 100%;
    height: 90vh;
}

.imgSignInMobile{
    width: 100%;
    text-align: center;
    margin: 0 0 5px 0;
    display: block;
}

.imgSignInMobile img{
    width: 100%;
    height: 90%;
}

.containerImgTitle{
display: none;
}

.containerForms{
    display: flex;
    flex-flow: column nowrap;
    background-color:white ;
    transform: translateY(0);

}

.containerForms h2{
    margin-top: 10px;
    font-size: 32px;
    font-family: 'Fredoka One', cursive;
    font-weight: normal;
    font-style: normal;
  }

.form{
    margin: 5px 0;
    display: block;
    text-align: left;   
}

.inputsForm{
display: block;
}

.form input{
    border-radius: 20px;
    width:100%;
    height: 40px;
    box-sizing: border-box;
    margin: 10px 0;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

.inputForm{
    border: 1px solid #525050;
    padding: 10px;
}

.btnForm{
    background-color: #FF7851;
    border: 0;
    color: white;
    font-size: 18px;
    text-align: center;
    padding-bottom: 5px;
}

.reset{
    margin: 5px 0;
}

.reset a{
    list-style: none;
    text-decoration: none;
    color: #364C63;
    margin-bottom: 5px;
}

.toggle{
    color: rgb(41, 40, 40);
    margin-top: 5px;
}

.toggle a{
    list-style: none;
    color: #364C63;
}


}

 
